[run]
omit = *test*
       */event_horizon/app.py
       */event_horizon/version.py
       */event_horizon/*/db/*
       */event_horizon/*/admin.py
       */event_horizon/*/__init__.py
       */event_horizon/admin/*
       */event_horizon/events.py
branch = True
[report]
fail_under = 85
exclude_lines = pragma: no cover