[run]
omit = *test*
       */app/app.py
       */app/version.py
       */app/*/db/*
       */app/*/admin.py
       */app/*/__init__.py
       */app/admin/*
       */app/events.py
branch = True
[report]
fail_under = 85
exclude_lines = pragma: no cover