[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-admin = "*"
psycopg2-binary = "*"
authlib = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]
mypy = "*"
black = "==20.8b1"
isort = "*"
flake8 = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.9"
