[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pypi-cloud"
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
verify_ssl = true

[packages]
flask = "*"
flask-admin = "*"
psycopg2-binary = "*"
authlib = "*"
requests = "*"
python-dotenv = "*"
sqlalchemy = "*"
pyyaml = "*"
pydantic = "*"
azure-keyvault = "*"
azure-identity = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
gunicorn = "*"
redis = "*"
rq = "*"
retry-tasks-lib = {version=">=1.14.2", index="pypi-cloud"}

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
xenon = "*"
types-flask = "*"
types-pyyaml = "*"
types-redis = "*"
types-requests = "*"
httpretty = "*"
pytest-mock = "*"
pylint = "*"
pylint-pytest = "*"

[requires]
python_version = "3.10"
