{% extends 'admin/master.html' %}

{% block body %}
<h1>Event Horizon</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">

        <p class="lead">Welcome to Event Horizon - the admin site for the <strong>Bink Provided Loyalty (BPL)</strong>
          project.</p>
        <p>This is a <a href="https://flask-admin.readthedocs.io/en/latest/" target="_blank">Flask-Admin</a> project
          incorporating views upon the data of the three other primary BPL projects:</p>
        <ul>
          <li><strong><a href="https://github.com/binkhq/polaris">Polaris</a></strong> - Customer Management</li>
          <li><strong><a href="https://github.com/binkhq/vela">Vela</a></strong> - Retailer Campaign Management</li>
          <li><strong><a href="https://github.com/binkhq/carina">Carina</a></strong> - Rewards Management</li>
          <li><strong><a href="https://github.com/binkhq/hubble">Hubble</a></strong> - Activity</li>
        </ul>

      </div>
    </div>
    <div class="col-md-4">
      <h3>Documentation</h3>
      <ul>
        <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2435482196/Event+Horizon"
            target="_blank">Confluence documentation</a></li>
        <li><a href="https://hellobink.atlassian.net/browse/BPL" target="_blank">JIRA project</a></li>
        <li><a href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2089680945/Proposed+Data+Entities"
            target="_blank">Data entities</a></li>
        <li><a
            href="https://hellobink.atlassian.net/wiki/spaces/BPL/pages/2058518610/POST+MVP+High+level+Solution+Brain+Dump"
            target="_blank">High level MVP</a></li>
      </ul>
    </div>
  </div>


  <div class="col-md-12 row" style="padding: 0;">

    <h4>Data Tables</h4>

    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Customer Management Tables</th>
        </tr>
        <tr>
          <td><a href="polaris/account-holders/">Account Holders</a></td>
        </tr>
        <tr>
          <td><a href="polaris/profiles/">Account Holder Profiles</a></td>
        </tr>
        <tr>
          <td><a href="polaris/account-holder-campaign-balances/">Account Holder Campaign Balances</a></td>
        </tr>
        <tr>
          <td><a href="polaris/account-holder-transaction-history/">Account Holder Transaction History</a></td>
        </tr>
        <tr>
          <td><a href="polaris/marketing-preferences/">Account Holder Marketing Preferences</a></td>
        </tr>
        <tr>
          <td><a href="polaris/account-holder-rewards/">Account Holder Rewards</a></td>
        </tr>
        <tr>
          <td><a href="polaris/account-holder-pending-rewards/">Account Holder Pending Rewards</a></td>
        </tr>
        <tr>
          <td><a href="polaris/retailers-config/">Retailer Configurations</a></td>
        </tr>
        <tr>
          <td><a href="polaris/email-templates/">Email Templates</a></td>
        </tr>
        <tr>
          <td><a href="polaris/email-template-keys/">Email Template Keys</a></td>
        </tr>
        <tr>
          <td><a href="polaris/tasks/">Tasks</a></td>
        </tr>
        <tr>
          <td><a href="polaris/task-types/">Task Types</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Retailer Campaign Management Tables</th>
        </tr>
        <tr>
          <td><a href="vela/retailer-rewards/">Retailers</a></td>
        </tr>
        <tr>
          <td><a href="vela/retailer-stores/">Retailer's Stores</a></td>
        </tr>
        <tr>
          <td><a href="vela/campaigns/">Campaigns</a></td>
        </tr>
        <tr>
          <td><a href="vela/earn-rules/">Earn Rules</a></td>
        </tr>
        <tr>
          <td><a href="vela/reward-rules/">Reward Rules</a></td>
        </tr>
        <tr>
          <td><a href="vela/transactions/">Transactions</a></td>
        </tr>
        <tr>
          <td><a href="vela/processed-transactions/">Processed Transactions</a></td>
        </tr>
        <tr>
          <td><a href="vela/tasks/">Tasks</a></td>
        </tr>
        <tr>
          <td><a href="vela/task-types/">Task Types</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Rewards Management Tables</th>
        </tr>
        <tr>
          <td><a href="carina/fetch-types/">Fetch Types</a></td>
        </tr>
        <tr>
          <td><a href="carina/retailer-fetch-types/">Retailer's Fetch Types</a></td>
        </tr>
        <tr>
          <td><a href="carina/reward-configs/">Reward Configurations</a></td>
        </tr>
        <tr>
          <td><a href="carina/rewards/">Rewards</a></td>
        </tr>
        <tr>
          <td><a href="carina/reward-updates/">Reward Updates</a></td>
        </tr>
        <tr>
          <td><a href="carina/reward-campaign/">Reward Campaign</a></td>
        </tr>
        <tr>
          <td><a href="carina/reward-file-log/">Reward File Log</a></td>
        </tr>
        <tr>
          <td><a href="carina/tasks/">Tasks</a></td>
        </tr>
        <tr>
          <td><a href="carina/task-types/">Task Types</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-condensed">
        <tr>
          <th>Activity Tables</th>
        </tr>
        <tr>
          <td><a href="hubble/activity/">Activity</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-md-8 row" style="padding: 0;">


    <h3>Where does BPL fit?</h3>
    <img
      src="https://confluence-connect.gliffy.net/embed/image/bc3f1871-a428-4d35-9861-780854e69956.png?utm_medium=live&utm_source=custom"
      style="width:100%" class="img-fluid" />


  </div>


</div>


</div>



{% endblock %}